.container {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10vh 15vw;
    background-color: var(--bg);
    position: relative;
}

.scrollOffset {
    position: absolute;
    top: -80px;
    height: 80px;
}

.wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5vw;
} 

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.subtitle {
    font-size: var(--title);
    margin-bottom: 5vh;
}

.titleConatiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 4vh;
}

.title {
    font-size: var(--superTitle);
    font-weight: 500;
    animation-delay: .3s;
    opacity: 1;
    color: var(--text);
    text-align: center;
}

.hr {
    height: 5px;
    background-color: var(--navbar);
    border: none;
    align-self: center;
    animation-delay: 1.5s;
    width: 4vw;
    margin-bottom: 2vh;
}

.title2 {
    font-size: var(--title2);
    font-weight: 300;
    margin-bottom: 4vh;
}

.right {
    flex: 1;
    width: 100%;
    height: 100%;
}

.logo {
    margin-bottom: 5vh;
}

.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    flex-direction: row;
}

.socialIcon {
    width: 52px;
    height: 52px;
    border-radius: 15px;
    color: var(--navbar);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 32px;
}

.linkedin:hover {
    color: #0e76a8; 
}

.facebook:hover {
    color: #3B5999;
}

.instagram:hover {
    color: #E4405F;
}



@media  (max-width: 799px) {

    .wrapper {
        padding: 0vh 5vw;
        gap: 3vh;
    }

    .title {
        font-size: var(--titleMobile);
    }
    
    .texts {
        font-size: var(--paragraphMobile);
    }
    
    .title2 {
        font-size: var(--title2Mobile);
        font-weight: 700;
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        margin: 5vh 0;
    }

}


@media (min-width: 800px) and (max-width: 999px) {

    .container {
        padding: 10vh 5vw;
    }
}


@media (min-width: 1000px) and (max-width: 1199px) {

    .container {
        padding: 10vh 10vw;
    }

}


@media (min-width: 1200px) and (max-width: 1499px) {

    .container {
        padding: 10vh 10vw;
    }

}